# Misc
.idea
.vscode

# Node dependencies
node_modules

# Config files
/src/config/*
!/src/config/database.js

# Public Local Storage
/src/public/images/*
!/src/public/images/default_photo_profile.jpg

# Local env files
.env
.env.*
!.env.example